<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p><strong>Time:</strong> <%= @time %></p>
<p><strong>Task:</strong> <%= @task %></p>
<p><strong>Message:</strong> <%= @msg %></p>
<p><strong>Trace:</strong></p>
<% @trace.each do |line| %>
<p><%= line %></p>
<% end %>
</body></html>