<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p><strong>Time:</strong> <%= @time %></p>
<p>We've found the following invalid emails on staffDB database. Please fix them there.</p>
<% @invalid_emails.each do |line| %>
<p><%= line.split("\n").join("<br>").html_safe %></p>
<% end %>
</body></html>
