<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1><%= @user.name %>, You are still checked in to the staff board. Please visit blanked to check out.</h1>
</body></html>