<div class="modal-body">
  Are you sure?
</div>
<div class="modal-footer">
  <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="destroy(vehicle.id)">Delete</button>
  <button type="button" data-dismiss="modal" class="btn" ng-click="cancel()">Cancel</button>
</div>