<div class="modal-header">
    <button type="button" class="close" ng-click="$dismiss()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    <h4 class="modal-title" id="myModalLabel">Upload ERP</h4>
</div>
<div class="modal-body">
    <form class="dropzone" method="post" enctype="multipart/form-data" ng-dropzone dropzone="dropzone" dropzone-config="dropzoneConfig">
        <input name="file" type="file" />
    </form>
</div>