<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
  <h4 class="modal-title" id="myModalLabel">Schedule Vehicle Transport</h4>
</div>

<!-- DESKTOP -->
<div class="hidden-sm hidden-xs">
  <div class="modal-body">
    <p class="note note-danger" ng-if="error">{{error}}</p>
    <div class="row">
      <div class="col-md-3">
        <label class="control-label">Vehicle:</label>
        <input
          class="form-control"
          mobiscroll-select="vehicle_mobiscroll_options()"
          ng-model="schedule.vehicle_id"
          ng-change="setVehicle()"
        />
      </div>
      <div class="col-md-3">
        <label class="control-label">User:</label>
        <input
          class="form-control"
          mobiscroll-select="user_mobiscroll_options()"
          ng-model="schedule.user_id"
          ng-change="setUser()"
        />
      </div>
      <div class="col-md-3">
        <label class="control-label">Start time:</label>
        <input
          type="text"
          ng-model="schedule.start"
          class="form-control"
          mobiscroll-datetime="{
            headerText: 'Start time...',
            anchor: '#bs-navbar-collapse',
            display: 'bubble',
            mode: 'mixed',
            dateFormat: '',
            timeFormat:'h:iia MMM d'
          }"
          placeholder="Start time..." />
      </div>
      <!-- <div class="col-md-12 text-center">
        <strong style="line-height:38px">to</strong>
      </div> -->
      <div class="col-md-3">
        <label class="control-label">End time:</label>
        <input
          type="text"
          ng-model="schedule.end"
          class="form-control"
          mobiscroll-datetime="{
            headerText: 'End time...',
            anchor: '#bs-navbar-collapse',
            display: 'bubble',
            mode: 'mixed',
            dateFormat: '',
            timeFormat:'h:iia MMM d'
          }"
          placeholder="End time..." />
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-12">
        <label class="control-label">Comment:</label>
        <textarea class="form-control"  ng-model="schedule.comment"></textarea>
      </div>
    </div>

    <accordion close-others="oneAtATime">
      <accordion-group heading="Vehicle Info" is-open="true">
        <div class="row">
          <div class="col-md-6">
            <strong>Make:</strong> {{schedule.vehicle.make}}
          </div>
          <div class="col-md-6">
            <strong>Model:</strong> {{schedule.vehicle.model}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <strong>Assigned To:</strong> {{schedule.vehicle.user.name}}
          </div>
          <div class="col-md-6">
            <strong>Office:</strong> {{schedule.vehicle.office}}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <strong>Description:</strong> {{schedule.vehicle.description}}
          </div>
        </div>
      </accordion-group>
    </accordion>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger pull-left" ng-show="schedule.id" confirmed-click="destroy(schedule.id)"
      ng-confirm-click="Are you sure you want to delete the schedule?">Delete</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success" ng-click="save()">Save</button>
  </div>
</div>
<!-- /DESKTOP -->

<!-- MOBILE -->
<div class="visible-sm visible-xs">
  <div class="modal-body">
    <p class="note note-danger" ng-if="error">{{error}}</p>
    <div class="row">
      <div class="col-xs-12">
        <label class="control-label">Vehicle:</label>
        <input
          class="form-control input-lg"
          mobiscroll-select="vehicle_mobiscroll_options(true)"
          ng-model="schedule.vehicle_id"
          ng-change="setVehicle()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <label class="control-label">User:</label>
        <input
          class="form-control input-lg"
          mobiscroll-select="user_mobiscroll_options(true)"
          ng-model="schedule.user_id"
          ng-change="setUser()"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <label class="control-label">Start time:</label>
        <input
          type="text"
          ng-model="schedule.start"
          class="form-control input-lg"
          mobiscroll-datetime="{
            height: 30,
            display: 'top',
            mode: 'mixed',
            dateFormat: '',
            timeFormat:'h:iia MMM d'
          }"
          placeholder="Start time..." />
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <label class="control-label">End time:</label>
        <input
          type="text"
          ng-model="schedule.end"
          class="form-control input-lg"
          mobiscroll-datetime="{
            height: 30,
            display: 'top',
            mode: 'mixed',
            dateFormat: '',
            timeFormat:'h:iia MMM d'
          }"
          placeholder="End time..." />
      </div>
    </div>
    <div class="row form-group">
      <div class="col-xs-12">
        <label class="control-label">Comment:</label>
        <textarea class="form-control input-lg"  ng-model="schedule.comment"></textarea>
      </div>
    </div>

    <accordion close-others="oneAtATime">
      <accordion-group heading="Vehicle Info" is-open="true">
        <p><strong>Make:</strong> {{schedule.vehicle.make}}</p>
        <p><strong>Model:</strong> {{schedule.vehicle.model}}</p>
        <p><strong>Assigned To:</strong> {{schedule.vehicle.user.name}}</p>
        <p><strong>Office:</strong> {{schedule.vehicle.office}}</p>
        <p><strong>Description:</strong> {{schedule.vehicle.description}}</p>
      </accordion-group>
    </accordion>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger pull-left btn-lg" ng-show="schedule.id" confirmed-click="destroy(schedule.id)"
      ng-confirm-click="Are you sure you want to delete the schedule?">Delete</button>
    <button class="btn btn-default btn-lg" ng-click="cancel()">Cancel</button>
    <button class="btn btn-success btn-lg" ng-click="save()">Save</button>
  </div>
</div> <!-- visible-sm -->
<!-- /MOBILE -->
