/* FONTS */
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/fonts/glyphicons-halflings-regular.eot');
  src: url('/assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/glyphicons-halflings-regular.woff') format('woff2'), url('/assets/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face{
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-regular-webfont.eot');
  src: url('/assets/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/montserrat-regular-webfont.woff') format('woff'), url('/assets/fonts/montserrat-regular-webfont.ttf') format('truetype'), url('/assets/fonts/montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-regular-webfont.svg') format('svg');
  }
  select {
    font-family: Arial, Helvetica, sans-serif;
  }
}


/* INVERT HORIZONTAL/VERTICAL VEHICLES LIST AT TRUCKBOARD */
#vFilter ul, #external-events ul {
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  padding-left: 0px;
  list-style-type: none;
}

#external-events ul li span {
  border: 1px solid black !important;
}

/* WE USE BUBBLE MODE TO DISPLAY MOBISCROLL ELEMENTS IN DESKTOP MODE */
.dw-arrw {
  display: none;
}

/* MORE MODAL SPACEMENT ON MOBILE */
@media (max-width: 768px) {
  .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}

/* AUTOCOMPLETE */
.dw-li {
    text-align: center;
}
.md-vehicle {
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    letter-spacing: normal;
}
.md-vehicle-name {
    height: 18px;
    line-height: 18px;
    /*font-size: 16px;*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.md-vehicle-details {
    height: 12px;
    line-height: 12px;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* TRUCKBOARD VEHICLES BUTTONS */
.external-event {
  display: inline-block;
  cursor: move;
  margin-bottom: 5px;
  margin-left: 0px;
  /*margin-left: 5px;*/
}

.external-event.btn-default {
  padding: 6px 6px;
  min-width: 59px;
  cursor: pointer !important;
}

/* HACKED RESPONSIVE SHOW/HIDE */
@media (min-width: 1800px) {
  .hide-24-higher {
    display: none;
  }
}
@media (max-width: 1800px) {
  .hide-24-lower {
    display: none;
  }
}

/**/
.editable-mobiscroll .editable-controls {
  padding-right: 74px !important;
}

/* CLEAR BUTTON ON SEARCH INPUT */
#staff-clear:hover {
  cursor: pointer;
  color: red;
}
#staff-search input:hover {
  cursor:text;
}
#staff-clear {
  padding-left: 8px;
}

/* LOGOUT BUTTON */
.navbar-default .navbar-nav li button {
  color: #999 !important;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}

.nav > li > button {
  padding: 10px 15px;
  position: relative;
  display: block;
  text-shadow: none;
  text-decoration: none;
  background-color: transparent;
  border: 0;
}
