<div class="modal-header">
  <button type="button" class="close" ng-click="$dismiss()"  data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
  <h4 class="modal-title" id="myModalLabel">Check Out</h4>
</div>

<div class="modal-body">
  <div class="tabbable-custom nav-justified">

    <div class="tab-pane" id="checkin">

      <div class="row">
          <div class="col-xs-6" style="margin-bottom:.5em">
            <span
              ng-click="user.checkin.status = 2;changeSlide(user)"
              ng-class="{'btn-danger':user.checkin.status == 2, 'default':user.checkin.status != 2}"
              class="btn btn-block"
            >Field</span>
          </div>
          <div class="col-xs-6" style="margin-bottom:.5em">
            <span
              ng-click="user.checkin.status = 0;changeSlide(user)"
              ng-class="{'green':user.checkin.status == 0, 'default':user.checkin.status != 0}"
              class="btn btn-block"
            >Office</span>
          </div>
          <div class="col-xs-6" style="margin-bottom:.5em">
            <span
              ng-click="user.checkin.status = 3;changeSlide(user)"
              ng-class="{'btn-warning':user.checkin.status == 3, 'default':user.checkin.status != 3}"
              class="btn btn-block"
            >Away</span>
          </div>
          <div class="col-xs-6" style="margin-bottom:.5em">
            <span
              ng-click="user.checkin.status = 1;changeSlide(user)"
              ng-class="{'btn-default':user.checkin.status == 1, 'default':user.checkin.status != 1}"
              class="btn btn-block"
            >Off</span>
          </div>
      </div> <!-- .row -->

      <div class="row" ng-if="user.checkin.status > 1">
        <div class="col-xs-12">
          <!-- <label class="control-label">Return Time:</label> -->
          <input
            type="text"
            class="form-control input-lg"
            ng-model="user.checkin.return_datetime"
            mobiscroll-datetime="{
              display: 'top',
              height: 30,
              mode: 'mixed',
              dateFormat: '',
              timeFormat:'h:iia MMM d',
              minDate: minDate(),
            }"
            placeholder="Enter return time..."
            ng-change="saveDate(user)" />
        </div> <!-- .col -->
      </div> <!-- .row -->

      <div class="row" ng-if="user.checkin.status > 1">
        <div class="col-xs-12">
          <!-- <label class="control-label">Vehicle:</label> -->
          <input
            class="form-control input-lg"
            mobiscroll-select="vehicle_mobiscroll_options(true)"
            ng-model="user.checkin.vehicle_id"
            ng-change="checkLinks(user.checkin)"
          />
        </div> <!-- .col -->
      </div> <!-- .row -->

      <div class="row" ng-if="user.checkin.status > 1">
        <div class="col-xs-12">
          <!-- <label class="control-label">Project:</label> -->
          <input
            class="form-control input-lg"
            mobiscroll-select="project_mobiscroll_options(projectGroups, true)"
            ng-model="user.checkin.project_id"
            ng-change="checkLinks(user.checkin)"
          />
        </div> <!-- .col -->
      </div> <!-- .row -->

      <div class="row" ng-if="user.checkin.status > 1">
        <div class="col-xs-12">
          <!-- <label class="control-label">Phase:</label> -->
          <input
            class="form-control input-lg"
            mobiscroll-select="location_mobiscroll_options(user.checkin.phase, 'Phase', user.checkin, true)"
            ng-model="user.checkin.phase_id"
          />
        </div> <!-- .col -->
      </div> <!-- .row -->

      <div class="row" ng-if="user.checkin.status > 1">
        <div class="col-xs-12">
          <!-- <label class="control-label">Subphase:</label> -->
          <input
            class="form-control input-lg"
            mobiscroll-select="location_mobiscroll_options(user.checkin.subphase, 'Subphase', user.checkin, true)"
            ng-model="user.checkin.subphase_id"
          />
        </div> <!-- .col -->
      </div> <!-- .row -->

      <div class="row" ng-if="user.checkin.status > 1 && user.checkin.subphase_id && user.checkin.subphase.projects.length">
        <div class="col-xs-12">
          <!-- <label class="control-label">Sub-subphase:</label> -->
          <input
            class="form-control input-lg"
            mobiscroll-select="location_mobiscroll_options(user.checkin.subsub, 'Sub-subphase', user.checkin, true)"
            ng-model="user.checkin.subsub_id"
          />
        </div> <!-- .col -->
      </div> <!-- .row -->

      <div class="row" ng-if="user.checkin.status == 0">
        <div class="col-xs-12">
          <!-- <label class="control-label">Location:</label> -->
          <input
            class="form-control input-lg"
            ng-change="user.checkin.DSSave()"
            ng-model="user.checkin.office"
            mobiscroll-select="office_location_mobiscroll_options(true)"
          />
        </div> <!-- .col -->
      </div> <!-- .row -->

      <div class="row">
        <div class="col-xs-12">
          <a editable-text="user.checkin.phone" onaftersave="user.checkin.DSSave()">{{user.checkin.phone || "No phone set"}}</a>
        </div> <!-- .col -->
      </div> <!-- .row -->

      <div class="row">
        <div class="col-xs-12">
          <a editable-text="user.checkin.comment" onaftersave="user.checkin.DSSave()">{{user.checkin.comment || "No comment set"}}</a>
        </div> <!-- .col -->
      </div> <!-- .row -->

      <!-- <div class="row">
        <div class="col-xs-12">
          <a class="btn btn-block btn-lg green pull-right"ng-click="save()">Save</a>
        </div>
      </div>  -->

    </div>
  </div>
</div> <!-- .modal-body -->

<div class="modal-footer">
  <button class="btn btn-default btn-lg" ng-click="cancel()">Cancel</button>
  <button class="btn btn-success btn-lg" ng-click="save()">Save</button>
</div>
