<!-- DESKTOP -->
<div class="row hidden-sm hidden-xs" ng-if="is_desktop">

  <div class="col-md-12">
    <div class="portlet light full-height-content full-height-content-scrollable">
      <div class="portlet-title">
        <div class="caption">
        </div>

        <div class="inputs actions">
          <div class="portlet-input input-small input-inline">
            <div class="input-icon right" id="staff-search">
              <!-- <i class="fa fa-times"></i> -->
              <!-- <i class="fa fa-search"></i> -->
              <input
                class="form-control input-circle"
                mobiscroll-select="staff_search_mobiscroll_options()"
                ng-model="$rootScope.staffSearch"
              />
            </div>
          </div>
          <i class="fa fa-times" ng-click="clear_staff_search()" id="staff-clear"></i>
          <!-- <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"></a> -->
        </div>
      </div>
      <div class="portlet-body">
        <div class="full-height-content-bdy" minwidth="1350" style="overflow-x:scroll;">
          <table class="table table-striped table-bordered table-hover" id="sample_1" style="min-width:1350px">
            <thead>
            <tr style="cursor:pointer">
              <th ng-click="setCheckinOrder('name')">
                Name
              </th>
              <th>
                Copy
              </th>
              <th ng-click="setCheckinOrder('checkin.status')" style="min-width:234px;">
                Status
              </th>
              <th ng-click="setCheckinOrder('-checkin.return_datetime')" style="min-width:190px;">
                Return
              </th>
              <th ng-click="setCheckinOrder('checkin.vehicle_id')" style="width:92px;">
                Vehicle
              </th>
              <th ng-click="setCheckinOrder('checkin.project_id')">
                Location
              </th>
              <th  ng-click="setCheckinOrder('business_line')">
                Business Line
              </th>
              <th  ng-click="setCheckinOrder('checkin.phone')">
                Cell #
              </th>
              <th>Comment</th>
              <th>
                ERP
              </th>
            </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in editUsers" ng-if="thisUser.user_id">
                <td style="text-align: left;">
                  <!--<img src="/assets/default-user-icon.gif" class="img-circle hidden-xs" style="width:40px; margin-right:1em;">-->
                  <span>{{user.name}}</span></td>
                <td>
                  <div class="dropdown">
                    <a class="dropdown-toggle input-group btn blue btn-xs" ng-class="{'disabled': user.id !== thisUser.user_id}" style="margin:auto" role="button" data-toggle="dropdown" data-target="#" href="#">
                      <i class="fa fa-copy" style="line-height:18px;"></i>
                      Copy
                    </a>
                    <div class="dropdown-menu hold-on-click" role="menu" aria-labelledby="dLabel">
                      <datepicker ng-model="user.copy_date" show-weeks="false" ng-change="copyCheckin(user, user.copy_date)"></datepicker>
                    </div>
                  </div>
                </td>
                <td>
                  <!--<slider class="slider-status" ng-change="changeSlide()" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" floor="0" ceiling="3" step="1" ng-model="user.checkin.status"></slider>-->
                  <div class="col-sm-6" style="margin-bottom:.5em"><span ng-click="user.checkin.status = 2;changeSlide(user)" ng-class="{'btn-danger':user.checkin.status == 2, 'default':user.checkin.status != 2}" class="btn btn-block">Field</span></div>
                  <div class="col-sm-6" style="margin-bottom:.5em"><span ng-click="user.checkin.status = 0;changeSlide(user)" ng-class="{'green':user.checkin.status == 0, 'default':user.checkin.status != 0}" class="btn btn-block">Office</span></div>
                  <div class="col-sm-6" style="margin-bottom:.5em"><span ng-click="user.checkin.status = 3;changeSlide(user)" ng-class="{'btn-warning':user.checkin.status == 3, 'default':user.checkin.status != 3}" class="btn btn-block">Away</span></div>
                  <div class="col-sm-6" style="margin-bottom:.5em"><span ng-click="user.checkin.status = 1;changeSlide(user)" ng-class="{'btn-default':user.checkin.status == 1, 'default':user.checkin.status != 1}" class="btn btn-block">Off</span></div>

                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    ng-model="user.checkin.return_datetime"
                    ng-show="user.checkin.status > 1"
                    mobiscroll-datetime="{
                      headerText: 'Return Date',
                      anchor: '#bs-navbar-collapse',
                      display: 'bubble',
                      mode: 'mixed',
                      dateFormat: '',
                      timeFormat:'h:iia MMM d',
                      minDate: minDate(),
                    }"
                    placeholder="Enter return time..."
                    ng-change="saveDate(user)"
                  />
                </td>
                <td>
                  <div ng-show="user.checkin.status > 1">
                    <input
                      class="form-control"
                      mobiscroll-select="vehicle_mobiscroll_options()"
                      ng-model="user.checkin.vehicle_id"
                      ng-change="checkLinks(user.checkin)"
                    />
                  </div>
                </td>
                <td ng-if="user.checkin.status != 0" class="input-xlarge">
                  <div ng-show="user.checkin.status > 1">

                  <div ng-class="{'col-md-3': user.checkin.subphase.projects.length, 'col-md-4': !user.checkin.subphase.projects.length}">
                    <input
                      class="form-control"
                      mobiscroll-select="project_mobiscroll_options(projectGroups)"
                      ng-model="user.checkin.project_id"
                      ng-change="checkLinks(user.checkin)"
                    />
                  </div>
                  <div ng-class="{'col-md-3': user.checkin.subphase.projects.length, 'col-md-4': !user.checkin.subphase.projects.length}">
                    <input
                      class="form-control"
                      mobiscroll-select="location_mobiscroll_options(user.checkin.phase, 'Phase', user.checkin)"
                      ng-model="user.checkin.phase_id"
                    />
                  </div>
                  <div ng-class="{'col-md-3': user.checkin.subphase.projects.length, 'col-md-4': !user.checkin.subphase.projects.length}">
                    <input
                      class="form-control"
                      mobiscroll-select="location_mobiscroll_options(user.checkin.subphase, 'Subphase', user.checkin)"
                      ng-model="user.checkin.subphase_id"
                    />
                  </div>
                  <div class="col-md-3" ng-if="user.checkin.subphase_id && user.checkin.subphase.projects.length">
                    <input
                      class="form-control"
                      mobiscroll-select="location_mobiscroll_options(user.checkin.subsub, 'Sub-subphase', user.checkin)"
                      ng-model="user.checkin.subsub_id"
                    />
                  </div>
                  </div>

                </td>
                <td ng-if="user.checkin.status == 0">
                  <div class="col-sm-12">
                    <input
                      class="form-control"
                      ng-change="user.checkin.DSSave()"
                      ng-model="user.checkin.office"
                      mobiscroll-select="office_location_mobiscroll_options()"
                    />
                  </div>
                </td>
                <td>
                  <a editable-text="user.business_line" onaftersave="user.DSSave()">{{user.business_line || "Business Line"}}</a>
                </td>
                <td>
                  <a editable-text="user.checkin.phone" onaftersave="user.checkin.DSSave()">{{user.checkin.phone || user.cellphone || "No phone set"}}</a>
                </td>
                <td>
                  <a ng-if="user.checkin.status != 1" editable-text="user.checkin.comment" onaftersave="user.checkin.DSSave()">{{user.checkin.comment || "No comment set"}}</a>
                </td>

                <td ng-if="!projectErp(user).erp_path">
                  <a ng-if="user.checkin.subsub.id || user.checkin.subphase.id || user.checkin.phase.id || user.checkin.project.id" href="#" class="btn btn-icon-only btn-circle btn-default" ng-click="attachERP(user.checkin.subsub.id || user.checkin.subphase.id || user.checkin.phase.id || user.checkin.project.id || 0)">
                    <i class="fa fa-paperclip"></i>
                  </a>
                </td>
                <td ng-if="projectErp(user).erp_path" class="dropdown">
                  <a role="button" data-toggle="dropdown" class="dropdown-toggle btn btn-circle btn-icon-only blue-hoki">
                    <i class="fa fa-file-text"></i>
                  </a>
                  <ul style="margin-top: -20px; margin-right: 13px" class="dropdown-menu dropdown-menu-right pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a style="display:none" class="erp-document" href="{{api_url}}/users/{{user.id}}/erp-attachment.pdf"></a></li>
                    <li><a class="hand" onclick="javascript: $(this).closest('ul').find('.erp-document').orangeBox('create')">View</a></li>
                    <li><a ng-click="attachERP(user.checkin.subsub.id || user.checkin.subphase.id || user.checkin.phase.id || user.checkin.project.id || 0)">Update</a></li>
                    <li><a ng-if="thisUser.admin" ng-click="deleteERP(user)">Delete</a></li>
                    <!--<li><a>Email</a></li>-->
                  </ul>
                </td>
              </tr>


              <tr ng-repeat="user in staff | filter:{name: $rootScope.staffSearch || ''} | orderBy:getCheckinOrder()">
                <td style="text-align: left;" colspan="2">
                  <!--<img src="/assets/default-user-icon.gif" class="img-circle hidden-xs" style="width:40px; margin-right:1em;">-->
                  <span>{{user.name}}</span> &nbsp;
                  <a ng-if="thisUser.admin" ng-click="editUser(user)" class="btn blue btn-xs" style="margin:auto" role="button" data-toggle="dropdown" data-target="#" href="#">
                    <i class="fa fa-pencil" style="line-height:18px;"></i>
                  </a>
                </td>

                <td>
                  <span class="badge badge-success" ng-if="user.checkin.status == 0">Office</span>
                  <span class="badge badge-default" ng-if="user.checkin.status == 1">Off</span>
                  <span class="badge badge-danger" ng-if="user.checkin.status == 2">Field</span>
                  <span class="badge badge-warning" ng-if="user.checkin.status == 3">Away</span>
                </td>
                <td>
                  {{ user.checkin.return_datetime | date:'h:mma MMM d'}}
                </td>
                <td>
                  {{user.checkin.vehicle.name}}
                </td>
                <td ng-if="user.checkin.status != 0">
                  {{user.checkin.project.name}}
                  <span ng-if="user.checkin.phase">- {{user.checkin.phase.name}}</span>
                  <span ng-if="user.checkin.subphase">- {{user.checkin.subphase.name}}</span>
                </td>
                <td ng-if="user.checkin.status == 0">
                  {{user.checkin.office}}
                </td>
                <td>
                  {{user.business_line}}
                </td>
                <td>
                  {{user.checkin.phone || user.cellphone}}
                </td>
                <td>
                  <span ng-if="user.checkin.comment">
                    {{user.checkin.comment}}
                  </span>
                </td>
                <td ng-if="!projectErp(user).erp_path"></td>
                <td ng-if="projectErp(user).erp_path" class="dropdown">
                  <a role="button" data-toggle="dropdown" class="dropdown-toggle btn btn-circle btn-icon-only blue-hoki">
                    <i class="fa fa-file-text"></i>
                  </a>
                  <ul style="margin-top: -20px; margin-right: 13px" class="dropdown-menu dropdown-menu-right pull-right" role="menu" aria-labelledby="dLabel">
                    <li><a style="display:none" class="erp-document" href="{{api_url}}/users/{{user.id}}/erp-attachment.pdf"></a></li>
                    <li><a class="hand" onclick="javascript: $(this).closest('ul').find('.erp-document').orangeBox('create')">View</a></li>
                    <li><a ng-if="thisUser.admin" ng-click="deleteERP(user)">Delete</a></li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MOBILE -->
<div class="row visible-sm visible-xs" ng-if="!is_desktop">

  <div ng-repeat="thisUser in editUsersMobile | orderBy:getCheckinOrder()" ng-click="checkinEditMobile(thisUser)" class="my mobile-card" ng-class="{'office': thisUser.checkin.status == 0, 'off': thisUser.checkin.status == 1, 'field': thisUser.checkin.status == 2, 'away': thisUser.checkin.status == 3}">
    <h4 style="margin-top:0; display:inline;">{{thisUser.name}}</h4> &nbsp;

    <span class="fa fa-circle tooltips" style="color:#35aa47" ng-if="thisUser.checkin.status == 0" title="Office"></span>
    <span class="fa fa-circle tooltips" style="color:#c6c6c6" ng-if="thisUser.checkin.status == 1" title="Off"></span>
    <span class="fa fa-circle tooltips" style="color:rgb(237, 95, 36)" ng-if="thisUser.checkin.status == 2" title="Field"></span>
    <span class="fa fa-circle tooltips" style="color:#89C4F4" ng-if="thisUser.checkin.status == 3" title="Away"></span>

    <br />
    {{ thisUser.checkin.vehicle.name || "No truck" }} | {{ thisUser.checkin.phone || thisUser.cellphone || "No phone given" }}
    <i class="fa fa-comment-o tooltips" title="{{ thisUser.checkin.comment }}" ng-if="thisUser.checkin.comment"></i>
    <br />
    <span ng-if="thisUser.checkin.status != 0">
      {{thisUser.checkin.project.name}}
      <span ng-if="thisUser.checkin.phase">- {{thisUser.checkin.phase.name}}</span>
      <span ng-if="thisUser.checkin.subphase">- {{thisUser.checkin.subphase.name}}</span>
      <span ng-if="thisUser.checkin.subsub">- {{thisUser.checkin.subsub.name}}</span>
    </span>
    <span ng-if="thisUser.checkin.status == 0">
      {{thisUser.checkin.office}}
    </span>
    <div class="top-right">
      <div class="btn btn-circle btn-default btn-icon-only" ng-if="thisUser.checkin.status <= 1">
        <i class="fa fa-calendar"></i>
      </div>
      <div class="btn btn-circle red" ng-if="thisUser.checkin.status > 1">
        {{thisUser.checkin.return_datetime | date:"h:mma MMM d " }} <i class="fa fa-calendar"></i>
      </div>
    </div>

    <div class="bottom-right">
      <div ng-if="projectErp(user).erp_path" class="dropdown">
        <a role="button" data-toggle="dropdown" class="dropdown-toggle btn btn-circle btn-icon-only blue-hoki">
          <i class="fa fa-file-text"></i>
        </a>
        <ul style="margin-top: -20px; margin-right: 13px" class="dropdown-menu dropdown-menu-right pull-right" role="menu" aria-labelledby="dLabel">
          <li><a target="_blank" href="{{api_url}}/users/{{user.id}}/erp-attachment.pdf">View</a></li>
          <li><a ng-click="attachERP(user.checkin.subsub.id || thisUser.checkin.subphase.id || thisUser.checkin.phase.id || thisUser.checkin.project.id || 0)">Update</a></li>
          <li><a ng-if="thisUser.admin" ng-click="deleteERP(user)">Delete</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="mobile-card" ng-if="!thisUser.admin" ng-repeat="user in staff | filter:{name: staffSearch} | orderBy:getCheckinOrder()" ng-class="{'office': user.checkin.status == 0, 'off': user.checkin.status == 1, 'field': user.checkin.status == 2, 'away': user.checkin.status == 3}">
    <h4 style="margin-top:0; display:inline;">{{user.name}}</h4> &nbsp;

    <span class="fa fa-circle tooltips" style="color:#35aa47" ng-if="user.checkin.status == 0" title="Office"></span> <span ng-if="user.checkin.status == 0">Office</span>
    <span class="fa fa-circle tooltips" style="color:#c6c6c6" ng-if="user.checkin.status == 1" title="Off"></span> <span ng-if="user.checkin.status == 1">Off</span>
    <span class="fa fa-circle tooltips" style="color:rgb(237, 95, 36)" ng-if="user.checkin.status == 2" title="Field"></span> <span ng-if="user.checkin.status == 2">Field</span>
    <span class="fa fa-circle tooltips" style="color:#89C4F4" ng-if="user.checkin.status == 3" title="Away"></span> <span ng-if="user.checkin.status == 3">Away</span>

    <br />
    {{ user.checkin.vehicle.name || "No truck" }} | {{ user.checkin.phone || user.cellphone || "No phone given" }}
    <span ng-if="user.checkin.comment"> | {{ user.checkin.comment }}</span>
    <br />
    <span ng-if="user.checkin.status != 0">
      {{user.checkin.project.name}}
      <span ng-if="user.checkin.phase">- {{user.checkin.phase.name}}</span>
      <span ng-if="user.checkin.subphase">- {{user.checkin.subphase.name}}</span>
      <span ng-if="user.checkin.subsub">- {{user.checkin.subsub.name}}</span>
    </span>
    <span ng-if="user.checkin.status == 0">
      {{user.checkin.office}}
    </span>
    <div class="top-right">
      <div class="btn btn-circle" ng-class="{'btn-default btn-icon-only ': !user.checkin.return_datetime, 'red': user.checkin.return_datetime}">
        {{user.checkin.return_datetime | date:"h:mma MMM d " }} <i class="fa fa-calendar"></i>
      </div>
    </div>

    <div class="bottom-right">
      <div ng-if="projectErp(user).erp_path" class="dropdown">
        <a role="button" data-toggle="dropdown" class="dropdown-toggle btn btn-circle btn-icon-only blue-hoki">
          <i class="fa fa-file-text"></i>
        </a>
        <ul style="margin-top: -20px; margin-right: 13px" class="dropdown-menu dropdown-menu-right pull-right" role="menu" aria-labelledby="dLabel">
          <li><a target="_blank" href="{{api_url}}/users/{{user.id}}/erp-attachment.pdf">View</a></li>
          <!--<li><a>Email</a></li>-->
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  // datepicker bug: it's closing when picking another month;
  // actually the bug is being generated because the datepicker is being rendered using
  // "inline" as method and using bootstrap's menu "dropdown-menu" class to control
  // the displaying;
  // this is a workaround instead to refactor the datepicker use
  $('body').click('.dropdown.open', function (event) {
    if (! $(event.target).is('span,a')) {
      event.stopPropagation();
    }
  });
</script>
