<div ng-if="thisUser" class="modal-header" id="login-modal-header">
  <button type="button" class="close" ng-click="$dismiss()" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
  <h4 class="modal-title">Sign In</h4>
</div>

<div class="modal-body">
  <form role="form" class="login-form" ng-submit="!isProcessing && doLogin()" ng-keyup="!isProcessing && $event.keyCode == 13 && doLogin()">
    <h3 class="form-title" ng-if="!thisUser">Sign In</h3>
    <div class="alert alert-danger" ng-show="error">
      <button class="close" data-close="alert"></button>
      <span>{{error}}</span>
    </div>
    <div class="form-group">
      <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
      <label class="control-label visible-ie8 visible-ie9">Username</label>
      <input ng-model="login.username" class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username"/>
    </div>
    <div class="form-group">
      <label class="control-label visible-ie8 visible-ie9">Password</label>
      <input ng-model="login.pass" class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password"/>
    </div>

    <!-- <div class="form-actions" ng-if="!thisUser">
      <label class="rememberme check">
      <input type="checkbox" name="remember" checked="checked"/>Remember </label><br />
    </div> -->

    <div class="form-actions">
      <input type="submit" ng-class="{'pull-right': thisUser}" class="btn btn-success uppercase" value="Login">
    </div>

  </form>

  <div class="row">
    <div class="col-xs-12">
      <form ng-if="thisUser" ng-keyup="!isProcessing &&  $event.keyCode == 13 && codeLogin()">
        <hr>
        <h3>Login with Code</h3>
        <div class="form-group">
          <label class="control-label visible-ie8 visible-ie9">Code</label>
          <input ng-model="login.code" class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Employee Code" name="code"/>
        </div>
        <div class="form-actions">
          <button type="submit" ng-class="{'pull-right': thisUser}" class="btn btn-success uppercase" ng-click="!isProcessing && codeLogin()">Login</button>
        </div>
      </form>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
