<div class="row">
    <div class="col-md-12">
        <div class="portlet light full-height-content full-height-content-scrollable">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-green-haze"></i>
                    <span class="caption-subject font-blue-chambray bold uppercase">Project Manager</span>
                </div>

                <div class="inputs actions">
                    <div class="portlet-input input-small input-inline">
                        <div class="input-icon right">
                            <i class="fa fa-search"></i>
                            <input type="text" class="form-control input-circle" placeholder="search...">
                        </div>
                    </div>
                    <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="#"></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="full-height-content-body">

                    <div ng-repeat="project in projects|orderBy:'name'">

                            <div class="nestingRow">
                                <!-- Project Handler -->
                                <div class="col-xs-1" style="">
                                    <i class="btn btn-xs fa fa-minus btn-default" ng-show="!project.isClosed && project.projects.length" ng-click="project.isClosed = true"></i>
                                    <i class="btn btn-xs fa fa-plus btn-default" ng-show="project.isClosed" ng-click="project.isClosed = false"></i>
                                    <i class="btn btn-xs fa fa-minus btn-default disabled" ng-show="!project.projects.length"></i>
                                </div>
                                <div class="col-xs-6">
                                    <h4 style="display:inline">{{project.name}}</h4>

                                </div>

                                <div class="col-xs-5"><div class="actions pull-right">
                                    <a class="btn btn-success"><i class="fa fa-plus"></i> Add Phase</a>
                                    <a class="btn btn-danger"><i class="fa fa-times"></i></a>
                                </div></div>
                                <!-- END Project Handler -->
                            </div>

                        <div ng-repeat="phase in project.projects|orderBy:'name'" ng-if="!project.isClosed">
                            <div class="nestingRow" style="padding-left:2em;">
                                <div class="col-xs-1 ">
                                    <i class="btn btn-xs fa fa-minus btn-default" ng-show="!phase.isClosed && phase.projects.length" ng-click="phase.isClosed = true"></i>
                                    <i class="btn btn-xs fa fa-plus btn-default" ng-show="phase.isClosed" ng-click="phase.isClosed = false"></i>
                                    <i class="btn btn-xs fa fa-minus btn-default disabled" ng-show="!phase.projects.length"></i>
                                </div>
                                <div class="col-xs-6">
                                    <h5 style="display:inline">{{phase.name}}</h5>

                                </div>
                                <div class="col-xs-5"><div class="actions pull-right">
                                    <a class="btn btn-success"><i class="fa fa-plus"></i> Add Subphase</a>
                                    <a class="btn btn-danger"> <i class="fa fa-times"></i> </a>
                                </div></div>
                            </div>

                            <div ng-repeat="subphase in phase.projects|orderBy:'name'" ng-if="!phase.isClosed">
                                <div class="nestingRow bottom" style="">
                                    <div class="col-xs-6 col-xs-offset-1">
                                        <h6 style="display:inline">{{subphase.name}}</h6>
                                        <!--<small class="text-muted">SUBPHASE</small>-->
                                    </div>
                                    <div class="col-xs-5">
                                        <div class="actions pull-right">
                                            <a class="btn btn-danger"><i class="fa fa-times"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
