<div class="row">
    <div class="col-md-12">
        <div class="portlet light full-height-content full-height-content-scrollable">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-share font-green-haze"></i>
                    <span class="caption-subject font-blue-chambray bold uppercase">Reports</span>
                </div>
            </div>
            <div class="portlet-body">
                <div>
                    <p class="note note-danger" ng-if="error">{{error}}</p>
                    <div class="caption font-blue-chambray">
                        <span class="caption-subject bold uppercase">Start Date</span>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle input-group" id="start_date" role="button" data-toggle="dropdown" data-target="#" href="#" style="width: 400px;">
                            <input type="text" class="form-control" value="{{ report.start_date | date:'EEE, MMMM d, yyyy'}}" style="font-size:small; padding:0 3px;">
                                <span class="input-group-addon" style="padding:0; min-width:26px;">
                                    <i class="fa fa-calendar"></i>
                                </span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker on-set-time="setTime()" data-ng-model="report.start_date" datetimepicker-config="{minView: 'day', dropdownSelector: '#start_date'}" />
                        </ul>
                    </div>
                    <br/>
                    <div class="caption font-blue-chambray">
                        <span class="caption-subject bold uppercase">End Date</span>
                    </div>
                    <div class="dropdown">
                        <a class="dropdown-toggle input-group" id="end_date" role="button" data-toggle="dropdown" data-target="#" href="#" style="width: 400px;">
                            <input type="text" class="form-control" value="{{ report.end_date | date:'EEE, MMMM d, yyyy'}}" style="font-size:small; padding:0 3px;">
                                <span class="input-group-addon" style="padding:0; min-width:26px;">
                                    <i class="fa fa-calendar"></i>
                                </span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker on-set-time="setTime()" data-ng-model="report.end_date" datetimepicker-config="{minView: 'day', dropdownSelector: '#end_date'}" />
                        </ul>
                    </div>
                    <br/>
                    <div class="inputs actions">
                        <a class="btn green btn-sm" ng-click="createReport()">
                            <i class="fa fa-file-excel-o"></i> Generate Report
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
