<div class="row" ng-controller="SchedulingController">
  <div class="col-md-12">
    <div class="portlet box red calendar">
      <div class="portlet-title">
        <div class="caption">
          <i class="fa fa-calendar"></i>Scheduling Calendar
        </div>
      </div>
      <div class="portlet-body">
        <div class="row">
          <div class="col-md-3 col-sm-12">

            <div class="portlet light bordered">

              <!-- DESKTOP AND SMALLER DEVICES -->
              <div class="portlet-title text-center hide-24-higher">
                <div class="caption font-blue-chambray" style="float: none;">
                  <span class="caption-subject bold uppercase">Vehicles Available</span>
                </div>
                <div class="inputs actions" style="float: none;">
                  <div class="dropdown">
                    <a class="dropdown-toggle input-group" id="scheduleDD" role="button" data-toggle="dropdown" data-target="#" href="#" style="width: 110px">
                      <input
                        type="text"
                        class="form-control"
                        value="{{ scheduling_date | date:'EEE, MMM d'}}"
                        style="font-size:small; padding:0 3px;"
                      >
                      <span class="input-group-addon" style="padding:0; min-width:26px;">
                        <i class="fa fa-calendar"></i>
                      </span>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <datetimepicker
                        on-set-time="setTime()"
                        data-ng-model="scheduling_date"
                        datetimepicker-config="{minView: 'day', dropdownSelector: '#scheduleDD'}"
                      />
                    </ul>
                  </div>
                </div>
              </div>

              <!-- LARGER DEVICES -->
              <div class="portlet-title hide-24-lower">
                <div class="caption font-blue-chambray">
                  <span class="caption-subject bold uppercase">Trucks Available</span>
                </div>
                <div class="dropdown">
                  <a class="dropdown-toggle input-group pull-right" id="scheduleDD" role="button" data-toggle="dropdown" data-target="#" href="#" style="width: 110px">
                    <input
                      type="text"
                      class="form-control"
                      value="{{ scheduling_date | date:'EEE, MMM d'}}"
                      style="font-size:small; padding:0 3px;"
                    >
                    <span class="input-group-addon" style="padding:0; min-width:26px;">
                      <i class="fa fa-calendar"></i>
                    </span>
                  </a>
                  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                    <datetimepicker
                      on-set-time="setTime()"
                      data-ng-model="scheduling_date"
                      datetimepicker-config="{minView: 'day', dropdownSelector: '#scheduleDD'}"
                    />
                  </ul>
                </div>
              </div>

              <div class="portlet-body">
                <div id="external-events">
                  <ul>
                    <li ng-repeat="vehicle in vehicles | orderBy:'name'">
                      <span
                        class="external-event btn btn-default ta_{{vehicle.name}}"
                        ng-show="is_available(vehicle, 0) && ((vehicle.office == undefined && offices_filter['Unassigned']) || (offices_filter[vehicle.office]))"
                        ng-click="schedulingEditModal(vehicle)"
                      >
                        {{vehicle.name}}
                      </span>
                    </li>
                  </ul>
                  <hr class="visible-xs"/>
                </div>
              </div>
            </div>

            <div class="portlet light bordered">

              <!-- DESKTOP AND SMALLER DEVICES -->
              <div class="portlet-title text-center hide-24-higher">
                <div class="caption font-blue-chambray" style="float: none;">
                  <span class="caption-subject bold uppercase">Office Filter</span>
                </div>
                <div class="inputs actions" style="float: none; padding-bottom: 8px;">
                  <div class="portlet-input" style="line-height:35px;">
                    <div class="btn default" ng-click="of_all()"><i class="fa fa-check-square"></i> All</div>
                    &nbsp; &nbsp;
                    <div class="btn default" ng-click="of_none()"><i class="fa fa-check-square"></i> None</div>
                  </div>
                </div>
              </div>

              <!-- LARGER DEVICES -->
              <div class="portlet-title hide-24-lower">
                <div class="caption font-blue-chambray">
                  <span class="caption-subject bold uppercase">Office Filter</span>
                </div>
                <div class="inputs actions">
                  <div class="portlet-input" style="line-height:35px;">
                    <div class="btn default" ng-click="of_all()"><i class="fa fa-check-square"></i> All</div>
                    &nbsp; &nbsp;
                    <div class="btn default" ng-click="of_none()"><i class="fa fa-check-square"></i> None</div>
                  </div>
                </div>
              </div>

              <div class="portlet-body">
                <form id="oFilter">
                  <ul class="list-unstyled">
                    <li style="display: inline; padding-right: 10px">
                      <label><input type="checkbox" ng-model="offices_filter['blanked']" ng-change="refresh_calendar()"> PM</label>
                    </li>
                    <li style="display: inline; padding-right: 10px">
                      <label><input type="checkbox" ng-model="offices_filter['blanked']" ng-change="refresh_calendar()"> CR</label>
                    </li>
                    <li style="display: inline; padding-right: 10px">
                      <label><input type="checkbox" ng-model="offices_filter['blanked']" ng-change="refresh_calendar()"> ALB</label>
                    </li>
                    <li style="display: inline; padding-right: 10px">
                      <label><input type="checkbox" ng-model="offices_filter['blanked']" ng-change="refresh_calendar()"> Nan</label>
                    </li>
                    <li style="display: inline; padding-right: 10px">
                      <label><input type="checkbox" ng-model="offices_filter['Unassigned']" ng-change="refresh_calendar()"> Unassigned</label>
                    </li>
                  </ul>
                </form>
              </div>
            </div>

            <div class="portlet light bordered">

              <!-- DESKTOP AND SMALLER DEVICES -->
              <div class="portlet-title text-center hide-24-higher">
                <div class="caption font-blue-chambray" style="float: none;">
                  <span class="caption-subject bold uppercase">Vehicles Filter</span>
                </div>
                <div class="inputs actions" style="float: none; padding-bottom: 8px;">
                  <div class="portlet-input" style="line-height:35px;">
                    <div class="btn default" ng-click="vf_all()"><i class="fa fa-check-square"></i> All</div>
                    &nbsp; &nbsp;
                    <div class="btn default" ng-click="vf_none()"><i class="fa fa-check-square"></i> None</div>
                  </div>
                </div>
              </div>

              <!-- LARGER DEVICES -->
              <div class="portlet-title hide-24-lower">
                <div class="caption font-blue-chambray">
                  <span class="caption-subject bold uppercase">Vehicles Filter</span>
                </div>
                <div class="inputs actions">
                  <div class="portlet-input" style="line-height:35px;">
                    <div class="btn default" ng-click="vf_all()"><i class="fa fa-check-square"></i> All </div>
                    &nbsp; &nbsp;
                    <div class="btn default" ng-click="vf_none()"><i class="fa fa-check-square"></i> None</div>
                  </div>
                </div>
              </div>

              <div class="portlet-body">
                <form id="vFilter">
                  <ul>
                    <li
                      ng-repeat="vehicle in vehicles | orderBy:'name'"
                    >
                      <label>
                        <input
                          checked
                          type="checkbox"
                          name="v_{{vehicle.id}}"
                          value="{{vehicle.id}}"
                          ng-model="vehicle_filter[vehicle.id]"
                          ng-init="vehicle_filter[vehicle.id] = true"
                          ng-change="refresh_calendar()">
                        {{vehicle.name}}
                      </label>
                    </li>
                  </ul>
                </form>

                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="col-md-9 col-sm-12">
            <div ui-calendar="uiConfig.calendar" on-day-click="dayClickEvent" class="span8 calendar" ng-model="eventSources"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
