
<div ng-controller="DashboardController" class="margin-top-10">
	<div class="row">
		<div class="col-md-6 col-sm-12 pull-right">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-gears font-blue-chambray"></i>
						<span class="caption-subject font-blue-chambray bold uppercase">Settings</span>
					</div>
				</div>
				<div class="portlet-body">
					<form class="form-horizontal">
						<div class="form-body">

							<div class="form-group">
								<label class="col-md-3 control-label">
									Refresh Time
								</label>
								<div class="col-md-9">
									<input type="text" class="form-control" placeholder="Refresh time" value="5">
									<span class="help-block">
										Number of seconds to wait before refreshing live data.
									</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">
									Mobile Refresh Time
								</label>
								<div class="col-md-9">
									<input type="text" class="form-control" placeholder="Refresh time" value="30">
									<span class="help-block">
										Seconds to wait before refreshing live data on mobile devices.
									</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">
									Board Password
								</label>
								<div class="col-md-9">
									<input type="password" disabled class="form-control" value="admin">
									<span class="help-block">
										Number of seconds to wait before refreshing live data.
									</span>
								</div>
							</div>

						</div>
					</form>

				</div>
			</div>
			
		</div>

		<div class="col-md-6 col-sm-12">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-exclamation-triangle font-blue-chambray"></i>
						<span class="caption-subject font-blue-chambray bold uppercase">Protocol</span>
					</div>
				</div>
				<div class="portlet-body">
					<form class="form-horizontal">
						<div class="form-body">

							<div class="form-group">
								<label class="col-md-3 control-label">
									Reminder
								</label>
								<div class="col-md-9">
									<input type="text" class="form-control ts" placeholder="Refresh time" value="5">
									<span class="help-block">
										Plays a noise and notifies employee
									</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">
									Text & Email
								</label>
								<div class="col-md-9">
									<input type="text" class="form-control ts" placeholder="Refresh time" value="20">
									<span class="help-block">
										Sends a text and email to the employee
									</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">
									Alert Supervisor
								</label>
								<div class="col-md-9">
									<input type="text" class="form-control ts" placeholder="Refresh time" value="25">
									<span class="help-block">
										Sends a notification, text and email to the supervisor
									</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">
									Begin Emergency Response
								</label>
								<div class="col-md-9">
									<input type="text" class="form-control ts" placeholder="Refresh time" value="30">
									<span class="help-block">
										Creates globally-visible alert that employee failed to sign in
									</span>
								</div>
							</div>
							<hr>
							<div class="form-group">
								<label class="col-md-3 control-label">
									Temp Supervisor
								</label>
								<div class="col-md-9">
									<select class="form-control" ng-options="u for u in staff">
										<option value='' selected>Disabled</option>
									</select>
									<span class="help-block">
										Temporarily assign a supervisor for the day
									</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-3 control-label">
									Expires
								</label>
								<div class="col-md-9">
									<a class="dropdown-toggle input-group" role="button" data-toggle="dropdown" id="scheduleDD" data-target="#" href="#">

										<div class="btn default" style="min-width:150px">
											{{temp | date:'H:mm MMM d' }}

											<i class="fa fa-calendar pull-right" style="margin-left:1rem; line-height:18px;"></i>

										</div>
									</a>
									<div class="dropdown-menu hold-on-click" role="menu" aria-labelledby="dLabel">
										<datetime ng-model="temp"></datetime>
										<hr style="margin: 0 0 8px 0">
										<a role="button" ng-click="user.checkin.DSSave()" data-toggle="dropdown" data-target="#" href="#" class="dropdown-toggle btn green pull-right"><i class="fa fa-check"></i> Save</a>
									</div>
								</div>
							</div>

						</div>
					</form>

				</div>
			</div>

		</div>


		<div class="col-md-6 col-sm-12 pull-right">
			<div class="portlet light ">
				<div class="portlet-title">
					<div class="caption">
						<i class="fa fa-database font-blue-chambray"></i>
						<span class="caption-subject font-blue-chambray bold uppercase">Data</span>
					</div>
				</div>
				<div class="portlet-body">
					<form class="form-horizontal">
						<div class="form-body">
							<div class="form-group">
								<div class="col-sm-12" id="notices"></div>
								<label class="col-md-3 control-label">
									Trucks
								</label>
								<div class="col-md-9" style="padding-top:7px;">
									Fresh &nbsp; <label class="badge badge-success"><i class="fa fa-check"></i></label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">
									Staff
								</label>
								<div class="col-md-9" style="padding-top:7px;">
									Fresh  &nbsp; <label class="badge badge-success"><i class="fa fa-check"></i></label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">
									Projects
								</label>
								<div class="col-md-9" style="padding-top:7px;">
									Fresh &nbsp; <label class="badge badge-success"><i class="fa fa-check"></i></label>
								</div>
							</div>

							<div class="form-actions">
								<div class="row">
									<div class="col-md-offset-3 col-md-9">
										<button type="buttn" class="btn blue" ng-click="update_staffDB()" ng-class="{'disabled': updating}">Update All</button>
									</div>
								</div>
							</div>



						</div>
					</form>

				</div>
			</div>

		</div>

	</div>
</div>

<script>
	$(document).ready(function(){
		//$('.ts').TouchSpin({min: 0, step: 5, decimals:0, postfix:"minutes"});
	})
</script>