<div class="row">
  <div class="col-md-12">
    <div class="portlet light full-height-content full-height-content-scrollable">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-share font-green-haze"></i>
          <span class="caption-subject font-blue-chambray bold uppercase">Staff</span>
        </div>

        <div class="inputs actions">

          <a href="#" class="btn btn-circle green btn-sm" ng-click="vEditMode=true">
            <i class="fa fa-plus"></i> New User
          </a>

          <div class="portlet-input input-small input-inline">
            <div class="input-icon right">
              <i class="fa fa-search"></i>
              <input type="text" class="form-control input-circle" placeholder="search...">
            </div>
          </div>
        </div>
      </div>
      <div class="portlet-body">
        <div class="full-height-content-bdy" style="overflow-x:scroll;">
          <table class="table table-striped table-bordered table-hover" id="sample_1">
            <thead>
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Email</th>
              <th>Business Line</th>
              <th>Login Code</th>
              <th>Password</th>
              <th>Can Administrate</th>
              <th>Backup Supervisor</th>
              <th>Supervisor</th>
              <th>Active</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr class="ng-hide"></tr>
            <tr class="success" ng-show="vEditMode">
              <td>
                <form ng-submit="createUser()"><input type="text" class="form-control" ng-model="nUser.name" placeholder="Name" /></form>
              </td>
              <td>
                <form ng-submit="createUser()"><input type="text" class="form-control" ng-model="nUser.username" placeholder="Username" /></form>
              </td>
              <td>
                <form ng-submit="createUser()"><input type="text" class="form-control" ng-model="nUser.email" placeholder="Email" /></form>
              </td>
              <td>
                <form ng-submit="createUser()"><input type="text" class="form-control" ng-model="nUser.business_line" placeholder="Business line" /></form>
              </td>
              <td>
                <form ng-submit="createUser()">
                  <input type="text" class="form-control" ng-model="nUser.code" placeholder="Code" />
                </form>
              </td>
              <td>
                <form ng-submit="createUser()">
                  <input type="password" class="form-control" ng-model="nUser.password" placeholder="Password" />
                </form>
              </td>
              <td>
                <form ng-submit="createUser()">
                  <input bs-switch type="checkbox" ng-model="nUser.admin" switch-on-text="Admin"
                     switch-off-text="Normal" />
                </form>
              </td>
              <td>
                <form ng-submit="createUser()">
                  <input
                    mobiscroll-select="user_mobiscroll_options()"
                    class="form-control"
                    ng-model="nUser.backup_supervisor_id"
                    placeholder="Backup Supervisor"
                  />
                </form>
              </td>

              <td colspan="3" style="text-align: right !important;">
                <button ng-click="createUser()" class="btn btn-primary">Create</button>
                <a ng-click="vEditMode=false" class="btn btn-default">
                  <span class="glyphicon glyphicon-remove"></span>
                </a>
              </td>
            </tr>

            <tr ng-repeat="user in users | orderBy:'name'">
              <td>
                <a editable-text="user.name" onaftersave="save(user)">{{user.name || 'empty'}}</a>
              </td>
              <td>
                <a editable-text="user.username" onaftersave="save(user)">{{user.username || 'empty'}}</a>
              </td>
              <td>
                <a editable-text="user.email" onaftersave="save(user)">{{user.email || 'empty'}}</a>
              </td>
              <td>
                <a editable-text="user.business_line" onaftersave="save(user)">{{user.business_line || 'empty'}}</a>
              </td>
              <td>
                <a editable-text="user.code" onaftersave="save(user)">{{user.code || 'empty'}}</a>
              </td>
              <td>
                <a editable-text="user.password" onaftersave="save(user)" ng-bind="(user.password_digest == 'Undefined') ? 'No password' : 'Secure' "></a>
              </td>
              <td>
                <a href="#" editable-checkbox="user.admin" e-title="Admin?" onaftersave="save(user)">
                  {{ user.admin && "Admin" || "No" }}
                </a>
              </td>
              <td class="editable-mobiscroll">
                <a editable-user="user.backup_supervisor_id" onaftersave="save(user)">
                  {{ user.backup_supervisor.name || "-- None --" }}
                </a>
              </td>
              <td>
                  {{ user.supervisor_name || "-- None --" }}
              </td>
              <td>
                <a href="#" editable-checkbox="user.inactive" e-title="Disabled?" onaftersave="save(user)">
                  {{ user.inactive && "Disabled" || "Active" }}
                </a>
              </td>
              <td>
                <a ng-click="deleteUser(user)">
                  <i style="color:red" class="fa fa-times"></i>
                </a>
              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  // Layout.init();
</script>
