<div class="row">
    <div class="col-md-12">
        <div class="portlet light full-height-content full-height-content-scrollable">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-blue-chambray bold uppercase">Transportation</span>
                </div>

                <div class="inputs actions">
                    <a href="#" class="btn green btn-sm" ng-click="vEditMode=true">
                        <i class="fa fa-plus"></i> Add New Vehicle
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="full-height-content-body">

                    <table class="table table-striped table-bordered table-hover" id="sample_1">
                        <thead><tr>
                            <th>Vehicle ID</th>
                            <th>Make</th>
                            <th>Model</th>
                            <th>Assigned To</th>
                            <th>Description</th>
                            <th>Assigned Office</th>
                            <th>In Commission</th>
                            <th>Actions</th>
                        </tr></thead>
                        <tbody>

                            <tr class="success" ng-show="vEditMode">
                                <td>
                                    <form ng-submit="createVehicle()">
                                        <input type="text" class="form-control" ng-model="nVehicle.name" placeholder="Vehicle ID" />
                                    </form>
                                </td>
                                <td>
                                    <form ng-submit="createVehicle()">
                                        <input type="text" class="form-control" ng-model="nVehicle.make" placeholder="Make" />
                                    </form>
                                </td>
                                <td>
                                    <form ng-submit="createVehicle()">
                                        <input type="text" class="form-control" ng-model="nVehicle.model" placeholder="Model" />
                                    </form>
                                </td>
                                <td>
                                    <select class="form-control" ng-options="u as u.name for u in staff | orderBy:'name'" ng-model="nVehicle.user"></select>
                                </td>

                                <td>
                                    <textarea class="form-control" ng-model="nVehicle.description"></textarea>
                                </td>
                                <td>
                                    <select class="form-control" ng-model="nVehicle.office">
                                        <option selected disabled value="">Assigned Office</option>
                                        <option value='blanked'>blanked</option>
                                        <option value='Nanamio'>blanked</option>
                                        <option value='blanked'>blanked</option>
                                        <option value='blanked'>blanked</option>
                                    </select>
                                </td>


                                <td><input bs-switch type="checkbox" ng-model="nVehicle.inactive" switch-on-text="Inactive"
                                           switch-off-text="Active" switch-inverse="1"
                                           data-on-color="default" data-off-color="primary" /> </td>
                                <td>
                                    <button ng-click="createVehicle()" class="btn btn-primary">Create</button>
                                    <a ng-click="vEditMode=false" class="btn btn-default">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>

                            <tr ng-repeat="vehicle in vehicles | orderBy: 'id'">
                                <td>
                                    <a editable-text="vehicle.name" onaftersave="vehicle.DSSave()">{{vehicle.name || "Name"}}</a>
                                </td>
                                <td>
                                    <a editable-text="vehicle.make" onaftersave="vehicle.DSSave()">{{vehicle.make || "Make"}}</a>
                                </td>
                                <td>
                                    <a editable-text="vehicle.model" onaftersave="vehicle.DSSave()">{{vehicle.model || "Model"}}</a>
                                </td>
                                <td>
                                    <a href="#" editable-select="vehicle.user" onaftersave="saveUser(vehicle)" e-ng-options="u as u.name for u in users | orderBy:'name'">
                                        {{vehicle.user.name || "Unassigned"}}
                                    </a>
                                </td>
                                <td>
                                    <a editable-text="vehicle.description" onaftersave="vehicle.DSSave()">{{vehicle.description || "Description"}}</a>
                                </td>
                                <td>
                                    <a href="#" editable-select="vehicle.office" onaftersave="vehicle.DSSave()" e-ng-options="office for office in ['blanked', 'blanked', 'blanked', 'blanked']">
                                        {{vehicle.office || "Unassigned"}}
                                    </a>
                                </td>
                                <td>
                                    <a href="#" editable-checkbox="vehicle.inactive" e-title="Out of commission?" onaftersave="vehicle.DSSave()">
                                        {{ vehicle.inactive && "Out of commission" || "Active" }}
                                    </a>
                                </td>
                                <td>
                                    <a ng-click="deleteModal(vehicle)">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
