<script type="text/ng-template" id="staffSearch.html">
	<a href="/#user={{match.label}}">
		<span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
	</a>
</script>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
    	<button type="button" class="menu-toggler responsive-toggler navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">
      	<img src="/assets/images/logo.png" alt="logo" class="logo-default" />
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      <ul class="nav navbar-nav hidden-sm hidden-xs">
        <li><a ng-click="reload_and_clear_cache()">
        	<i class="fa fa-refresh"></i>
        </a></li>
      </ul>

			<!-- Currently bootstrap doesn't support centered menu elements -->
      <div class="col-sm-2 col-sm-offset-3 hidden-xs hidden-sm">
      	<ul class="nav navbar-nav back-to-top" style="display: none">
      		<li class="text-center">
      			<a class="btn basic" ng-click="back_to_top()"><i class="fa fa-chevron-up"></i> Back to the top</a>
      		</li>
      	</ul>
      </div>

      <ul class="nav navbar-nav navbar-right">
      	<li ng-if="thisUser.user_id" class="hidden-sm hidden-xs">
      		<a>{{thisUser.name}}</a>
      	</li>

      	<li ng-if="!thisUser.user_id">
					<button data-toggle="collapse" data-target=".navbar-collapse" click="#" ng-click="loginModal()"><i class="fa fa-sign-in"></i> <span>Log In</span></button>
      	</li>
      	<li ng-if="thisUser.user_id">
					<button data-toggle="collapse" data-target=".navbar-collapse" click="#" ng-click="logout()" ><i class="fa fa-sign-out"></i> <span>Log Out</span></button>
      	</li>

      	<li>
					<button data-toggle="collapse" data-target=".navbar-collapse" click="#" ng-click="lock()" class="hidden-sm hidden-xs"><i class="fa fa-key"></i> <span>Lock</span></button>
      	</li>
      </ul>

      <ul class="nav navbar-nav navbar-right visible-xs visible-sm">
        <li ng-class="{'active': $state.is('checkin')}">
        	<a href="/" data-toggle="collapse" data-target=".navbar-collapse">
        		<i class="fa fa-tasks"></i>
        		<span class="title">Check in board</span>
        	</a>
        </li>
        <li ng-class="{'active': $state.is('schedule')}">
        	<a href="/scheduling" data-toggle="collapse" data-target=".navbar-collapse">
        	<i class="fa fa-calendar"></i>
        	<span class="title">Truck Board</span>
        	</a>
        </li>
        <li ng-class="{'active': $state.is('settings')}"  ng-if="thisUser.admin">
        	<a href="/settings" data-toggle="collapse" data-target=".navbar-collapse">
        		<i class="fa fa-gears"></i>
        		<span class="title">Settings</span>
        	</a>
        </li>
        <li ng-class="{'active': $state.is('staff')}"  ng-if="thisUser.admin">
        	<a href="/staff" data-toggle="collapse" data-target=".navbar-collapse">
        		<i class="fa fa-users"></i>
        		<span class="title">Staff</span>
        	</a>
        </li>
        <li ng-class="{'active': $state.is('transportation')}"  ng-if="thisUser.admin">
        	<a href="/transportation" data-toggle="collapse" data-target=".navbar-collapse">
        		<i class="fa fa-truck"></i>
        		<span class="title">Transportation</span>
        	</a>
        </li>
        <li ng-class="{'active': $state.is('reports')}"  ng-if="thisUser.admin">
        	<a href="/reports" data-toggle="collapse" data-target=".navbar-collapse">
        		<i class="fa fa-file-excel-o"></i>
        		<span class="title">Reports</span>
        	</a>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
