<div class="page-sidebar hidden-xs hidden-sm">
	<ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
		<li ng-class="{'active': $state.is('checkin')}" style="min-width:163px; padding-top: 8px;">
			<a href="/">
				<i class="fa fa-tasks"></i>
				<span class="title">Check in board</span>
			</a>
		</li>
		<li ng-class="{'active': $state.is('schedule')}">
			<a href="/scheduling">
			<i class="fa fa-calendar"></i>
			<span class="title">Truck Board</span>
			</a>
		</li>

		<li class="heading" ng-if="thisUser.admin">
			<h3>ADMINISTRATION</h3>
		</li>
		<li ng-class="{'active': $state.is('settings')}"  ng-if="thisUser.admin">
			<a href="/settings">
				<i class="fa fa-gears"></i>
				<span class="title">Settings</span>
			</a>
		</li>
		<li ng-class="{'active': $state.is('staff')}"  ng-if="thisUser.admin">
			<a href="/staff">
				<i class="fa fa-users"></i>
				<span class="title">Staff</span>
			</a>
		</li>
		<li ng-class="{'active': $state.is('transportation')}"  ng-if="thisUser.admin">
			<a href="/transportation">
				<i class="fa fa-truck"></i>
				<span class="title">Transportation</span>
			</a>
		</li>
		<!--<li ng-class="{'active': $state.is('projects')}"  ng-if="thisUser.admin">
			<a href="/project_manager">
				<i class="fa fa-sitemap"></i>
				<span class="title">Project Manager</span>
			</a>
		</li>-->
		<li ng-class="{'active': $state.is('reports')}"  ng-if="thisUser.admin">
			<a href="/reports">
				<i class="fa fa-file-excel-o"></i>
				<span class="title">Reports</span>
			</a>
		</li>
	</ul>
</div>	